# Virtual Environment
venv/
.venv/
Lib/
Scripts/
Include/
share/
pyvenv.cfg

# Python Cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Dataset
online_retail.csv
clean_online_retail.csv
customer_segments.csv

# Machine Learning Models
kmeans_model.pkl
scaler.pkl
product_similarity.pkl
product_list.pkl

# Images
shopper.png

# OS Files
.DS_Store
Thumbs.db